table.table.border.mt-3
	tr
		td: strong #{Lang.name}:
		td #{firm.code}
	tr
		td: strong #{Lang.tel}:
		td #{firm.tel}
	tr
		td: strong #{Lang.resp}: 
		td #{firm.resp}
	tr
		td: strong #{Lang.addr}:
		td #{firm.addr}
	tr
		td: strong #{Lang.post}:
		td #{firm.post}
	tr
		td: strong #{Lang.city}:
		td #{firm.city}
	tr
		td: strong #{Lang.ct}:
		td #{firm.ct}
	tr
		td: strong #{Lang.nation}:
		td #{firm.nation}
	tr
		td: strong #{Lang.nt}:
		td #{firm.nt}
	tr
		td: strong #{Lang.iva}:
		td #{firm.iva}
	tr
		td: strong #{Lang.cf}:
		td #{firm.cf}
	tr
		td: strong #{Lang.bank}:
		td #{firm.bank}
	tr
		td: strong #{Lang.iban}:
		td #{firm.iban}