.row
	.col-7
		table.table(style="font-size:25px;")
			thead
				tr
					th.border.border-dark(width="20%") 型号
					th.border.border-dark(width="20%") 颜色
					th.border.border-dark(width="20%") 米数
					th.border.border-dark 发货米数
			tbody
				- let extents = 0, iTr=0;
				each color in order.colors
					- iTr++;
					if !isNaN(parseInt(color.extent))
						-extents += parseInt(color.extent);
					tr
						td.border.border-dark #{color.code}
						td.border.border-dark #{color.color}
						td.border.border-dark 
							span #{color.extent}
							input(id='et-'+color._id, type="hidden", value=color.extent)
						td.border.border-dark
							if order.status == 0
								-a;
								input.form-control.ship(type="number", id=order._id+'-'+color._id, autocomplete="off", value=color.ship)
							else
								span #{color.ship}
				while iTr < 5
					-iTr++;
					tr
						td.border.border-dark &nbsp;
						td.border.border-dark
						td.border.border-dark
						td.border.border-dark
				tr
					td(colspan=2)
					td.border.border-dark #{extents}
					td.border.border-dark.text-center
						if order.status == 0
							-a;
							#ship
						else
							span #{order.ship} / #{order.imp}
	.col-5.text-center
		img(src=order.photo, width="400px")

script(src="/js/bser/order/detail/tmplet.js")