extends ../aalayout/layout

block content
	-let tmplet = order.tmplet;
	.container.mt-3
		.row
			.col-12.col-md-4.mt-4
				#prodPage

				h3#clientBtn #{order.cter.nome}
				#clientPage.border.p-3(style="display:none")
					.row.mt-3
						.col-4
							h3 客户:
						.col-8
							form#formCters
								input#ajaxCters.form-control(type="text", autocomplete="off")
					.clientSel
						.row.catersAjax
						hr
						.row.allCtersAjax
				#tmpletImg.mt-3
					img.tmpletImg(src=tmplet.photo, width="100%")
			.col-12.col-md-8.mt-4
				form#form(method="post", action="/bsOrderUpd", enctype="multipart/form-data")
					input(type="hidden", name="orgId", value=order._id)
					input#cterId(type="hidden", name="obj[cter]", value=order.cter._id)
					.form-group.row
						label.col-2.col-form-label.text-right#codeLab(for="drapIpt") 面料
						.col-10.col-sm-4
							input#drapIpt.form-control(type="text", name="obj[drap]", value=order.drap)
						label.col-2.col-form-label.text-right#codeNumLab(for="widthIpt") 门幅
						.col-10.col-sm-4
							input#widthIpt.form-control(type="text", name="obj[width]", value=order.width)
					.form-group.row
						label.col-2.col-form-label.text-right(for="noteIpt") 备注
						.col-10
							input#noteIpt.form-control(type="text", name="obj[note]", value=order.note)
					.form-group.row
						label.col-2.col-form-label.text-right(for="ctAtIpt") 收货时间
						.col-10
							input#ctAtIpt.datepicker.form-control(type="text", name="obj[ctAt]", readonly="readonly", placeholder="选择收货时间, 可不选择", value=moment(order.ctAt).format("MM/DD/YYYY"))
					.form-group.row
						label.col-2.col-form-label.text-right(for="genreIpt") 类型
						.col-4
							select#genreIpt.form-control(data-style="btn-info")
								option(value=' - ') 请选择类型
								each genre in genres
									- a;
									if order.genre == genre.genre
										-a;
										option(value=genre.genre+'-'+genre.price, selected="selected") #{genre.genre}: #{genre.price}€
									else
										option(value=genre.genre+'-'+genre.price) #{genre.genre}: #{genre.price}€
						input#genre(type="hidden", name="obj[genre]", value=order.genre)
						input#price(type="hidden", name="obj[price]", value=order.price)
						label.col-2.col-form-label.text-right(for="tmpletIpt") 模板
						.col-4
							input#ajaxTmplet.form-control(type="text", autocomplete="off", value=tmplet.code)
							input#tmpletId(type="hidden", name="obj[tmplet]", value=tmplet._id)
					#tmplets
					#tmpletCls
						.my-3.p-2.border.bg-light.tmpletCard
							.row.text-center
								.col-4
									h3.text-info #{tmplet.code}
								.col-4
									h3.text-info #{tmplet.codeNum}
								.col-4
									h3.text-info #{tmplet.nome}
							input(type="hidden" name="obj[tcode]" value=tmplet.code)
							input(type="hidden" name="obj[photo]" value=tmplet.photo)
							hr
							- let iCl = -1;
							each color in tmplet.colors
								- iCl++;
								- let extent = '';
								each clr in order.colors
									if clr.color == color.color
										- extent = clr.extent;
										- break;
								.form-group.row
									label.col-4.col-form-label.text-center
										span #{tmplet.code}V#{color.code}
									input(type="hidden" name="obj[colors]["+iCl+"][code]", value=tmplet.code+'V'+color.code)

									label.col-4.col-form-label.text-center
										span #{color.color}
									input(type="hidden", name="obj[colors]["+iCl+"][color]", value=color.color)

									.col-4
										input.form-control.extent(type="number", name="obj[colors]["+iCl+"][extent]", value=extent)
					.form-group.row.mt-5
						.offset-sm-10.col-sm-2
							input.btn.btn-success.btn-block(type="submit" value="更新")
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	//- <link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	//- timepicker
	link(rel="stylesheet", href="/libs/jt.timepicker/jquery.timepicker.css")
	script(src="/libs/jt.timepicker/jquery.timepicker.min.js")

	script(src="/js/bser/order/add/add.js")
	script(src="/js/bser/order/add/client.js")
	script(src="/js/bser/order/add/tmplet.js")